<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" data-ng-controller="CostCtrl">
	<form class="form" name="form" ng-submit="create(form)" novalidate>
		
		<div class="row">
			<div class="col-sm-6">
				<time class="time" format="EEEE, dd MMMM"></time>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-6">  
		        <div class="form-group" ng-class="{ 'has-success': form.ammount.$valid && form.$submitted,
                                            						'has-error': form.ammount.$invalid && form.$submitted }">
			    <div class="input-group input-group-lg">
			      	<div class="input-group-btn" uib-dropdown>
			        	<button type="button" class="btn btn-default" uib-dropdown-toggle>
			        		<i class="ion-card"></i>
			        	</button>
				        <ul class="uib-dropdown-menu" role="menu">
				          	<li role="menuitem">
					          	<a href="#">
					          		<i class="ion-cash"></i>
					          	</a>
				          	</li>
				        </ul>
			      	</div>
		          	<input type="text" name="ammount" class="form-control" ng-model="cost.ammount" disabled required="" />
		        </div>
		          	<p class="help-block" ng-show="form.ammount.$error.required && form.$submitted">
			            An ammount is required
			        </p>
		        </div>
		    </div>
	    </div>

	    <div class="row">
	    	<div class="col-sm-6">
	    		<div class="form-group input-group-lg" ng-class="{ 'has-success': form.description.$valid && form.$submitted,
                                            						'has-error': form.description.$invalid && form.$submitted }">
		          	<input type="text" name="description" class="form-control" ng-model="cost.description" placeholder="Add note" required=""/>
		        	<p class="help-block" ng-show="form.description.$error.required && form.$submitted">
			            A note is required
			        </p>
		        </div>
	    	</div>
	    </div>

	    <div class="row">
		    <div class="col-sm-6">
				<numpad class="numpad" text="cost.ammount" max-length="ammountMaxLength"></numpad>
			</div>
		</div>
		
		<br/>
		<div class="row">
			<div class="col-sm-6">
				<button ng-click="selectCategory(cost)" type="button" class="btn btn-default btn-lg btn-block">
					<span ng-if="cost.category === null">Choose category</span>
					<span ng-if="cost.category !== null">{{cost.category.name}}</span>
				</button>
			</div>
		</div>

		<br/>
		<div class="row">
			<div class="col-sm-6">
				<button class="btn btn-default btn-lg btn-block" type="submit">Save</button>
			</div>
		</div>
	</form>
</div>