<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>Your costs from the begings of time.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="cost in costs">
        <strong>{{cost.ammount}}</strong><br>
        <span class="text-muted">{{cost.user.name}}</span>
        <span class="text-muted">{{cost.created | date:'MM/dd/yyyy @ h:mma'}}</span>
        <span class="text-muted">{{cost.description}}</span>
        <a ng-click="delete(cost)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>

<div class="loader" loader=""></div>