<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" data-ng-controller="CostCtrl" data-ng-init="loadAllCost()">
  <form class="form" name="form" ng-submit="" novalidate>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <button id="month" class="btn btn-success pull-right" ui-sref="costs.create">New Cost</button>
      
      <!-- <span>Drop down list showing moths since user joined tha app</span> -->

      <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
          {{selectedPaymentMethod.name}} <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" role="menu">
          <li data-ng-repeat="method in paymentMethods" role="menuitem">
            <a href="#" data-ng-click="setCostPaymementMethod(method)">{{method.name}}</a>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
  </form>
  <div class="vspace10"></div>

  <ng-include src="'app/cost/views/list-costs-template.html'"></ng-include>
  
</div>

<div class="loader" loader=""></div>