<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-6 cost" ng-repeat="cost in costs">
          <div class="category-img">
            <img class="img-circle" ng-src="assets/images/categories/{{cost.category.name}}.png" alt="">
          </div>
          <div class="cost-details">
            <strong>{{cost.ammount}}{{symbole}}</strong>&nbsp;<span class="text-muted">{{cost.user.name}}</span>
            <div>
              <span class="text-muted">{{cost.created | date:'MM/dd/yyyy@h:mma'}}</span>
              <span class="text-muted">{{cost.description}}</span>
            </div>
          </div>
      </div>
    </div>
  </div>